<footer class="footer">
  <div class="container footerBox">
    <p class="copyright text-muted">
      Furkan Önder |
      <a href="https://github.com/furkanonder" target="_blank">
        <i style="font-size:28px; color:White" class="fa fa-github"></i>
      </a>
      <a href="https://twitter.com/Fsyscall" target="_blank">
        <i style="font-size:28px; color:White" class="fa fa-twitter"></i>
      </a>      
      <a href="https://www.linkedin.com/in/furkan-onder/" target="_blank">
        <i style="font-size:28px; color:White" class="fa fa-linkedin"></i>
      </a>
      <a href="https://medium.com/@furkanonder/" target="_blank">
        <i style="font-size:28px; color:White" class="fa fa-medium"></i>
      </a>
      <a href="{{ site.baseurl }}/feed.xml" target="_blank">
        <i style="font-size:28px; color:White" class="fa fa-rss"></i>
      </a>
    </p>
  </div>
</footer>

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>